.dkBlogDisplayCard {
    .custom-img {
        min-width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    .card-body {
        padding: 0 0 0 1rem;
    }
    .text-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
