.dkStrategyDesignSection {
    .textWrapper {
        text-align: center;
    }
  .serviceCard {
    padding: 53px 48px;
    display: inline-block;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
  }
}
