$primary: #ffd700;
$secondary: #734f96;
$dark: #2d2d2d;
$light: #f8f6f0;


// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/bootstrap";
